# CREDITCARD FRAUD DETECTION

Credit card fraud detection is a type of fraud detection that uses machine learning to identify fraudulent credit card transactions. The goal of credit card fraud detection is to prevent fraudulent transactions from being approved, while minimizing the number of legitimate transactions that are incorrectly flagged as fraudulent.

In [5]:
#Import Modules

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
card=pd.read_csv("C:\\Users\\Utkarsh Tiwari\\Downloads\\creditcard.csv")

In [6]:
#Supress warnings
import warnings
warnings.filterwarnings('ignore')

# Loading the dataset

In [9]:
card=pd.read_csv("C:\\Users\\Utkarsh Tiwari\\Downloads\\creditcard.csv")
card.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

The dataset contains transactions made by credit cards in September 2013 by European cardholders.

This dataset presents transactions that occurred in two days, where we have 492 frauds out of 284,807 transactions. The dataset is highly unbalanced, the positive class (frauds) account for 0.172% of all transactions.

It contains only numerical input variables which are the result of a PCA transformation. Unfortunately, due to confidentiality issues, we cannot provide the original features and more background information about the data. Features V1, V2, … V28 are the principal components obtained with PCA, the only features which have not been transformed with PCA are 'Time' and 'Amount'. Feature 'Time' contains the seconds elapsed between each transaction and the first transaction in the dataset.

The feature 'Amount' is the transaction Amount, this feature can be used for example-dependant cost-sensitive learning.

Feature 'Class' is the response variable and it takes value 1 in case of fraud and 0 otherwise.

# DATA INSPECTION

In [10]:
card.shape

(284807, 31)

In [11]:
card.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [12]:
card.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [13]:
#Distribution of legit transcation and fraudelent transcation:
card['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

#Separating Data for analysis:-

In [14]:
legit=credit[credit.Class == 0]
fraud=credit[credit.Class == 1]

In [15]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [16]:
legit.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [17]:
fraud.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
541,406.0,-2.312227,1.951992,-1.609851,3.997906,-0.522188,-1.426545,-2.537387,1.391657,-2.770089,...,0.517232,-0.035049,-0.465211,0.320198,0.044519,0.177840,0.261145,-0.143276,0.00,1
623,472.0,-3.043541,-3.157307,1.088463,2.288644,1.359805,-1.064823,0.325574,-0.067794,-0.270953,...,0.661696,0.435477,1.375966,-0.293803,0.279798,-0.145362,-0.252773,0.035764,529.00,1
4920,4462.0,-2.303350,1.759247,-0.359745,2.330243,-0.821628,-0.075788,0.562320,-0.399147,-0.238253,...,-0.294166,-0.932391,0.172726,-0.087330,-0.156114,-0.542628,0.039566,-0.153029,239.93,1
6108,6986.0,-4.397974,1.358367,-2.592844,2.679787,-1.128131,-1.706536,-3.496197,-0.248778,-0.247768,...,0.573574,0.176968,-0.436207,-0.053502,0.252405,-0.657488,-0.827136,0.849573,59.00,1
6329,7519.0,1.234235,3.019740,-4.304597,4.732795,3.624201,-1.357746,1.713445,-0.496358,-1.282858,...,-0.379068,-0.704181,-0.656805,-1.632653,1.488901,0.566797,-0.010016,0.146793,1.00,1

In [18]:
# Stastical measure of the data
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [19]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [20]:
#comparing both transcation:-
card.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Under -Sampling

Build a simple dataset containing similar distribution of normal and fraudelent Transctaions

Number of Fraudelent Transcations

In [21]:
Legit_sample=legit.sample(n=492)

In [22]:
#concatenating Two Dataframes
new_dataset=pd.concat([Legit_sample,fraud],axis=0)

In [23]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
32206,36687.0,-0.346766,1.176695,1.305150,0.057486,0.084744,-0.960084,0.776882,-0.117719,-0.511599,...,-0.252797,-0.627172,-0.015071,0.354593,-0.133454,0.069188,0.249306,0.100198,6.99,0
114186,73375.0,-0.363296,0.844968,1.220354,-0.914176,0.050938,-0.448301,0.420883,-0.047709,0.015303,...,-0.141608,-0.343955,-0.154592,-0.403383,-0.142763,0.919720,0.062830,0.068052,0.77,0
141975,84541.0,1.204884,-0.317268,0.903134,-0.786926,-0.922318,-0.325599,-0.575732,0.043110,1.651204,...,0.027596,0.417940,-0.020045,0.122687,0.465370,-0.660235,0.117328,0.034195,1.00,0
17101,28437.0,-0.776445,1.035083,0.937761,1.230197,-0.285349,-0.045195,0.015738,0.715828,-0.300974,...,-0.014055,-0.022141,-0.152851,-0.043160,-0.069057,-0.240147,0.268867,0.112878,9.07,0
173653,121584.0,-21.546959,4.312475,-13.968980,-1.374571,-15.000435,-0.768369,-7.563286,11.541253,-0.992859,...,-0.007582,-1.392870,-3.445842,0.158850,1.447231,-0.125150,-0.244433,-0.469013,152.65,0

In [24]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [25]:
new_dataset['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64

In [26]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,95700.609756,0.098970,0.154205,-0.039772,0.001277,-0.037925,0.067922,0.014452,0.051008,0.072638,...,-0.017468,0.033128,-0.026765,-0.009791,0.021875,0.000318,-0.016247,-0.026793,-0.014127,77.356159
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [27]:
X=new_dataset.drop(columns="Class",axis=1)
y=new_dataset["Class"]

In [28]:
print(y)

32206     0
114186    0
141975    0
17101     0
173653    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [29]:
print(X)

            Time         V1        V2         V3        V4         V5  \
32206    36687.0  -0.346766  1.176695   1.305150  0.057486   0.084744
114186   73375.0  -0.363296  0.844968   1.220354 -0.914176   0.050938
141975   84541.0   1.204884 -0.317268   0.903134 -0.786926  -0.922318
17101    28437.0  -0.776445  1.035083   0.937761  1.230197  -0.285349
173653  121584.0 -21.546959  4.312475 -13.968980 -1.374571 -15.000435
...          ...        ...       ...        ...       ...        ...
279863  169142.0  -1.927883  1.125653  -4.518331  1.749293  -1.566487
280143  169347.0   1.378559  1.289381  -5.004247  1.411850   0.442581
280149  169351.0  -0.676143  1.126366  -2.213700  0.468308  -1.120541
281144  169966.0  -3.113832  0.585864  -5.399730  1.817092  -0.840618
281674  170348.0   1.991976  0.158476  -2.583441  0.408670   1.151147

              V6        V7         V8        V9  ...       V20       V21  \
32206  -0.960084  0.776882  -0.117719 -0.511599  ...  0.170587 -0.252797
114186 -0.448301  0.420883  -0.047709  0.015303  ...  0.171595 -0.141608
141975 -0.325599 -0.575732   0.043110  1.651204  ... -0.086733  0.027596
17101  -0.045195  0.015738   0.715828 -0.300974  ... -0.069081 -0.014055
173653 -0.768369 -7.563286  11.541253 -0.992859  ... -0.285611 -0.007582
...          ...       ...        ...       ...  ...       ...       ...
279863 -2.010494 -0.882850   0.697211 -2.064945  ...  1.252967  0.778584
280143 -1.326536 -1.413170   0.248525 -1.127396  ...  0.226138  0.370612
280149 -0.003346 -2.234739   1.210158 -0.652250  ...  0.247968  0.751826
281144 -2.943548 -2.208002   1.058733 -1.632333  ...  0.306271  0.583276
281674 -0.096695  0.223050  -0.068384  0.577829  ... -0.017652 -0.164350

             V22       V23       V24       V25       V26       V27       V28  \
32206  -0.627172 -0.015071  0.354593 -0.133454  0.069188  0.249306  0.100198
114186 -0.343955 -0.154592 -0.403383 -0.142763  0.919720  0.062830  0.068052
141975  0.417940 -0.020045  0.122687  0.465370 -0.660235  0.117328  0.034195
17101  -0.022141 -0.152851 -0.043160 -0.069057 -0.240147  0.268867  0.112878
173653 -1.392870 -3.445842  0.158850  1.447231 -0.125150 -0.244433 -0.469013
...          ...       ...       ...       ...       ...       ...       ...
279863 -0.319189  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968
280143  0.028234 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637
280149  0.834108  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361
281144 -0.269209 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700
281674 -0.295135 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309

        Amount
32206     6.99
114186    0.77
141975    1.00
17101     9.07
173653  152.65
...        ...
279863  390.00
280143    0.76
280149   77.89
281144  245.00
281674   42.53

[984 rows x 30 columns]

In [30]:
X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=2)

In [31]:
print(X.shape, X_train.shape, X_test.shape)

(984, 30) (787, 30) (197, 30)

# Model Training

# Logistic Regression

In [32]:
model = LogisticRegression()

In [33]:
# training the Logistic Regression Model with Training Data
model.fit(X_train, Y_train)

LogisticRegression()

In a Jupyter environment, please rerun this cell to show the HTML representation or trust the notebook.
On GitHub, the HTML representation is unable to render, please try loading this page with nbviewer.org.

In [34]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [35]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.9466327827191868

In [36]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [37]:
print('Accuracy score on Test Data : ', test_data_accuracy)

Accuracy score on Test Data :  0.9390862944162437

In [38]:
#Dataset source: https://www.kaggle.com/datasets/mlg-ulb/creditcardfraud

This project is submitted by Utkarsh Tiwari.

And that brings us to the end. I’d like to thank you for your time and attention today.

Thank you so much for your interest and attention.